<h1 id="currentUser" data-id={{userid}}> User {{userid}} Portal</h1><br>

<button id="new_event"><strong>Create Event</strong></button>

<br>
<br>


<strong>You have been invited to the following events (Click an event to change your vote):</strong>

<!-- Need home button -->
{{#each invitedEvents}}
<br>
<button class="vote_button" data-userid="{{this.[3]}}" data-eventid="{{this.[1]}}">{{this.[0]}}</button>
<br>
<div id="displayedVoteData_{{this.[1]}}">{{this.[2]}}</div>
displayedVoteData_{{this.[1]}}
<br>
<br>
{{/each}}

<strong>Update/Delete events that your've created:</strong>

<ul>
  {{#each myEvents}}
  {{> users/my-events}}
  {{/each}}
</ul>