<h2>Vote on {{event.title}}</h2>

<form class="submit-vote" data-eventid="{{event.id}}" data-userid="{{userid}}" data-fromdate="{{event.from_date}}" data-todate="{{event.to_date}}" id="date_box_div_{{event.id}}">
	<button type="submit" class="btn btn-default">Make your move
</form>
